## Rust
/target/
Cargo.lock

## Intellij Idea
.idea/

## Visual Studio Code
.vscode/
workspace.code-workspace

## Sublime Text
*.sublime-workspace
*.sublime-project

## Vim
tags
Session.vim
Sessionx.vim

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.lnk

## Linux
*~
